<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FF3DTouch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>36F8B9201D2E1C5100B24C82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36F8B9391D2E1C5100B24C82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36F8B9441D2E1C5100B24C82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
